@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Noto Sans TC', sans-serif;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
body{
	
	background-color: #e9ebee; 
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
@media (min-width: 768px){
	.wrap{
		width: 820px;
		margin: 0 auto;
		background-color: #CCE3DF;
	}
}


content{
	padding: 0px 10px;
	display: block;
}
footer{
	padding: 10px;
	text-align: center;
}

.clear{
  clear: both
}
header{
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	height: 320px;
	position: relative;
}
@media (max-width: 768px){
	header{
		background-image: url("../img/TAIWAN.jpg");
		background-size: 750px 250px;
		height: 220px;
		margin-bottom: 20px;
	}
}
.headerTitle{
	position: absolute;
	top: 123px;
}

.headerTitle h1{
	background-color: rgba(0,0,0,0.5);
	display:inline-block;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding: 10px;
}
@media (max-width: 768px){
	.headerTitle{
		top: 10px;
		text-align: center;
		left: 5%;
		right: 5%;
	}
	.headerTitle h1{
		width:95%;
	}
}
@media (max-width: 414px){
	.headerTitle h1{
		font-size: 26px;
	}
}
.title{
	background-color: gray;
	padding: 10px;
}
.sign{
	cursor: pointer;
	float: left;
	display: inline-block;
	padding: 5px;
	margin: 10px 3px;
	background-color: #A9E969;
	border: 1px black;
	position: absolute;
	bottom: 0;
	right: 0;
}
.sign:hover{
	display: inline-block;
	color: white;
	padding: 5px;
	margin: 10px 3px;
	background-color: black;
	border: 1px black;
}
@media (max-width: 768px){
	.sign{
		background-color: rgba(0,150,150,0.5);
		right: 36%;
		left: 36%;
		width:25%;
		text-align: center;
	}
}
@media (max-width: 414px){
	.sign{
		right: 30%;
		left: 30%;
		width:35%;
	}
}
#voteStatus{
}
.nowVote{
	text-align: center;
}
.voteArea{
	text-align: center;
}
.voteArea input {
	margin-top: 1%;
	font-size: 20px;
	background: #f59b86;
	cursor: pointer;
	font-family: 'Noto Sans TC', sans-serif;
}
.list ul{
	margin: 0px;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	position: relative;
}
.list li{
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	position: relative;
	height: 266px;
	width: 228px;
}
.list img{
	margin: 0 -50% 0 -50%;
	display: inline-block;
	text-align: center;
    height: 228px;
}

.voteInfo{
	height: 228px;
	position: relative;
	overflow: hidden;
}
.detail{
	position: absolute;
	height: 17%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	left: 0;
	bottom: 0;
}
.voteNow{
	text-align: left;
	height: 38px;
}
.voteThis{
	float: left;
	display: inline-block;
	padding: 5px;
	margin: 5px 0px;
	background-color: #A9E969;
	border: 1px black;
}
.voteThis:hover{
	display: inline-block;
	color: white;
	padding: 5px;
	margin: 5px 0px;
	background-color: black;
	border: 1px black;
}
.voteNow span{
	float: right;
	padding: 5px;
	margin: 5px 0px;
}
@media (max-width: 768px){
	.list ul{
		padding: 4%;
		
	}
	.voteInfo{
		height:  45%;
	}
	.detail{
		top: 78%;
		height: 20%
	}
	.list li{
		height: 45%;
		width: 30%;
		padding:1%;
	}
}
@media(max-width:535px)
{
	
	.detail {
		top:71%;
		height:25%;
	}
	.detail p{
		font-size: 16px;
	}
	.voteNow span{
		float: left;
	}
	.voteThis{
		width: 93%;
		text-align: center;
	}
}
@media(max-width:414px)
{
	.list {
		margin-top: 3%;
	}
	.list li{
		height: 45%;
		width: 90%;
	}
	.detail{
		top:82.5%;
		height: 16%
	}
	.detail p{
		font-size: 27px;
	}
	.voteThis{
		font-size: 20px;
		width: 96.5%;
		padding-top:4%; 
		padding-bottom:4%; 
	}
	.voteThis:hover{
		width: 96.5%;
		padding-top:4%; 
		padding-bottom:4%; 
	}
	.voteNow span{
		font-size: 20px;
	}
}
@media(max-width: 320px)
{
	.detail{
		top:78.5%;
		height: 20%
	}
	.detail p{
		font-size: 27px;
	}
}
.workName{
	position: absolute;
	font-size: 20px;
	left: 10px;
	bottom: 0;
	color: white;
	margin: 5px;
	z-index: 1;
}
.page{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.pageList ul{
	margin: auto;
}
.pageList li{
	display: inline;
	
}
.pageList a{
	display: inline-block;
	padding: 12px;
	margin: 5px;
}
.pageList a:hover{
	background: orange;
	cursor: pointer;
}
.dialogBackground{
	background: rgba(20, 20, 20, 0.9);
  	position: fixed;
  	height: 100%;
  	width: 100%;
  	top: 0;
  	left: 0;
  	display: none;
  	z-index: 2;
}
.detailInfo{
	background-color: white;
	margin: 0 auto;
}
.right{
	float: right;
	
}
.closeDialogBtn{
	cursor: pointer;
	background-color: red;
	color: white;
	display: inline-block;
	margin: 5px 0px;
}
.closeDialogBtn:hover{
	cursor: pointer;
	background-color: black;
	color: white;
	display: inline-block;
	margin: 5px 0px;
}
.closeDialogBtn p{
	padding: 5px;
}
.enlarge{
	padding: 10px;
	font-size: 24px;
}
.enlarge:hover{
	padding: 10px;
	font-size: 24px;
}

.footerLink:hover{
	color: orange;
}
.newPost{
	width: 100%;
}
.newPost p{
	
}
.newPost td{
	padding-left: 0px; 
	padding-right: 0px;
}
.imagename{
	margin-left: 20px;
	width: 400%;
	margin-bottom: 5%;
	margin-top: 5%;
}
.decpt{
	margin-left: 127%;
	width: 346%;
}
.newPost td:first-child{
	text-align: right;
	width: 18%;
}
.newPost td:nth-child(2){
	text-align: left;
	width: 78%;
}
.newPost input,textarea{
	width: 80%;
}

#submitPost{
	text-align: center;
	margin-top: 1%;
	font-size: 20px;
	background: #66FF66;
	cursor: pointer;
}
.picturebox{
	text-align:left; 
	line-height:30px;
}



